#main {
    font-size: 19px;
}
#clearDataFromHeading {
    padding: 3px;
}
#disclaimer {
    font-size: 16px;
}
#main-cancel {
    height: 300px;
    width: 385px;
}
#forgetNow {
    width: 260px;
}
html {
	-webkit-user-select: none;
}