#main {
    font-size: 19px;
}
#clearDataFromHeading {
    padding: 3px;
}
#disclaimer {
    font-size: 16px;
}
#main-timed-forget {
    height: 300px;
    width: 385px;
}
#forgetNow {
    width: 260px;
}
#clearDataFrom{
	margin: 3px;
}
html {
	-webkit-user-select: none;
}
#incontentSettings:hover {
    cursor: pointer;
}

/*
    locale specific
*/
.main-pl {
    height: 330px !important;
}
.main-pla {
    height: 370px !important;
}