#main-forget {
    height: 260px;
    width: 385px;
}
#forgetFromHeading {
	font-size:15px;
}
html {
	-webkit-user-select: none;
}
#incontentSettings:hover {
    cursor: pointer;
}

/*
    locale specific
*/
.main-pl {
    height: 240px !important;
}
.main-pla {
    height: 280px !important;
}